<h1>Lists of movie :</h1>
<ol>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ol>
<%= link_to "Create a new list", new_list_path %>
<li>
<%= link_to "Back to home", root_path %>